{% extends "tracker.html" %}
{% load crispy_forms_tags %}

{% block tracker-content %}
{% for expense in expenses %}
<button class="col-3 m-2 post-it" data-bs-toggle="modal" data-bs-target="#{{expense.id}}"">
  <h3 class="overflow-x-hidden">{{ expense.description }}</h3>
</button>

<!-- Modal -->
<div class="modal fade" id="{{expense.id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <p>Description: <strong>{{ expense.description }}</strong></p>
        <p>Category: 
          {% for key, value in category.items %}
            {% if key == expense.category %}
              {{ value }}
            {% endif %}
          {% endfor %}
        </p>
        <p>Amount: £{{ expense.amount }}0</p>
        {% if expense.freq == 0 %}
        <p>Frequency: Not recurring (one-off payment)</p>
        {% elif expense.freq == 1 %}
        <p>Frequency: Monthly</p>
        {% elif expense.freq == 3 %}
        <p>Frequency: Quarterly</p>
        {% elif expense.freq == 12 %}
        <p>Frequency: Annually</p>
        {% else %}
        <p>Frequency: Other</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<button class="col-3 m-2 post-it d-flex justify-content-center align-items-center green" data-bs-toggle="modal" data-bs-target="#addExpense"">
  <i class="fa-solid fa-plus"></i>
</button>
<!-- Modal (Add) -->
<div class="modal fade" id="addExpense" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Add</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
      <div class="modal-body text-start">
        <div class="row">
          <div class="col">
            {{ expense_form | crispy }}
            {% csrf_token %}
          </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-signup">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}