{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Income</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Frequency</th>
                  </tr>
                </thead>
                <tbody>
                {% for income in incomes %}
                  <tr>
                    <td>{{ income.source }}</td>
                    <td>£{{ income.amount }}</td>
                    <td>
                        {% if income.freq == 1 %}
                        Monthly
                        {% elif income.freq == 3 %}
                        Quarterly
                        {% elif income.freq == 12 %}
                        Annually
                        {% else %}
                        N / A
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div>
                <h2>Add more income sources:</h2>
                <form method="post">
                    <div class="row">
                        <div class="col">
                            {{ income_form | crispy }}
                            {% csrf_token %}
                        </div>
                        <div class="col">
                            <br>
                            <button type="submit" class="btn btn-signup">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Expense</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Frequency</th>
                  </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                  <tr>
                    <td>{{ expense.description }}</td>
                    <td>£{{ expense.amount }}</td>
                    <td>
                        {% if expense.freq == 1 %}
                        Monthly
                        {% elif expense.freq == 3 %}
                        Quarterly
                        {% elif expense.freq == 12 %}
                        Annually
                        {% else %}
                        N / A
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div>
                <h2>Add more expenses:</h2>
                <form method="post">
                    <div class="row">
                        <div class="col">
                            {{ expense_form | crispy }}
                            {% csrf_token %}
                        </div>
                        <div class="col">
                            <br>
                            <button type="submit" class="btn btn-signup">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>


{% endblock %}