{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row text-center m-1 mb-0 justify-content-end" id="tracker-nav">
    <div class="col-2 col-md-2 p-1 pb-0"><a class="tracker-link tracker-nav-active" href="#">1</a></div>
    <div class="col-2 col-md-2 p-1 pb-0"><a class="tracker-link" href="#">2</a></div>
    <div class="col-2 col-md-2 p-1 pb-0 me-3"><a class="tracker-link" href="#">3</a></div>
  </div>
  <div class="row mx-1" id="tracker-main-content">

  </div>
</div>

{% endblock %}